# DATA TYPE CONVERSION

In [2]:
num1 = int(14.5)
print(num1)
# float canbe converted to interger

14

In [3]:
print(str(num1))
# interger can be converted to string

14

In [4]:
print(float(num1))
# interger can be converted to float

14.0

In [5]:
num2 = 15.23
print(str(num2))
# float can be converted to string

15.23

In [6]:
num3 ='45'
print(float(num3))
#string cannot be converted to integer or float except the string value is a digit

45.0

# input function

In [7]:
name = input('Enter your name:')

Enter your name:early code

In [8]:
print(name)

early code

In [9]:
Age = int(input('enter your age:'))

enter your age:26

In [11]:
age = float(input('enter your age:'))

enter your age:15

In [12]:
print(age)

15.0

# operators
# ARITHIMETIC OPERATOR 
# ADDITION::+
# SUBTRACTION ::-
# MULTIPLICATION ::*
# DIVISION::/
# MODULUS (REMAINDER)::%
# INTERGER DIVISION:: //
# EXPONENTIAL(RAISE TO POWER OF)::**

In [14]:
num1=int(input('enter first number'))
num2=int(input('enter second number'))
print(f'{num1} + {num2} ={num1 + num2}')
print(f'{num1} - {num2} ={num1 - num2}')
print(f'{num1} * {num2} ={num1 * num2}')
print(f'{num1} / {num2} ={num1 / num2}')
print(f'{num1} % {num2} ={num1 % num2}')
print(f'{num1} // {num2} ={num1 // num2}')
print(f'{num1} ** {num2} ={num1 ** num2}')

enter first number40
enter second number10
40 + 10 =50
40 - 10 =30
40 * 10 =400
40 / 10 =4.0
40 % 10 =0
40 // 10 =4
40 ** 10 =10485760000000000

# comparison operatror 
# GREATER THAN ::>
# LESS THAN :: <
# GREATER THAN OR EQUAL TO ::>=
# LESS THAN OR EQUAL TO :: <=
# EQUAL TO :: ==
# NOTEQUAL TO :: !=

In [16]:
num1=int(input('enter first number'))
num2=int(input('enter second number'))
print(f'{num1} > {num2} ={num1 > num2}')
print(f'{num1} < {num2} ={num1 < num2}')
print(f'{num1} >= {num2} ={num1 >= num2}')
print(f'{num1} <= {num2} ={num1 <= num2}')
print(f'{num1} == {num2} ={num1 == num2}')
print(f'{num1} != {num2} ={num1 != num2}')

enter first number25
enter second number30
25 > 30 =False
25 < 30 =True
25 >= 30 =False
25 <= 30 =True
25 == 30 =False
25 != 30 =True

# LOGICAL OPERATORS 
# AND
# OR
# NOT

In [17]:
print(num1 > num2 and num1 != num2)
print(num1 < num2 or num1 == num2)
print(not num1)

False
True
False

## identity operator 
### is 
### is not

In [18]:
print(num1 is num2)
print(num1 is not num2)

False
True

## MEMBERSHIP OPERATOR 
### IN
### NOT IN

In [19]:
word = 'python'
print('p' in word)
print('P' not in word )

True
True

In [22]:
sellingprice = 0.50
totalapple = int(input('enter number of apples:'))
cost = totalapple * sellingprice
print(f' the total cost of {totalapple} apples is ${cost}')

enter number of apples:400
 the total cost of 400 apples is $200.0

In [25]:
maxhours = 800
perhrsA = 4
perhrsB = 5
PAprofit = 100
PBprofit = 150
PA = perhrsA * PAprofit
PB = perhrsB * PBprofit
unitA = float(input('enterunit of product A TO produce'))
unitB = float(input('enter unit of product B to produce'))
total = unitA * PA + unitB * PB 
print(f'the total profit made on {unitA}unit of product A and {unitB}unit of product B IS {total}')

enterunit of product A TO produce25
enter unit of product B to produce15
the total profit made on 25.0unit of product A and 15.0unit of product B IS 21250.0