### ITERABLE OBJECT(ADVANCDED DATATYPES)
#### TURPLE 
### TUPLE IS UNCHANGEABLE
### TUPLE MUST ORDERED
### TO ACCESS A VALUE IN A TURPLE WE USE THE INDEX LOCATION
#### TUPLE IS DENOTED WITH ()
#### NOTE:: TUPLE IS NOT LIMITED TO ONE DATA TYPE

In [3]:
numbers = (45,85,96,90,23,25,45,80,82,87,47,42,45,100)
print(type(numbers))
print(len(numbers))

<class 'tuple'>
14

In [4]:
print(numbers[4]) # retriving a value based on forward index location

23

In [5]:
print(numbers[4:10]) # retriving a range  value based on forward index location

(23, 25, 45, 80, 82, 87)

In [6]:
print(numbers[-10]) # retriving a value based on backward index location

23

In [7]:
print(numbers[4:-4]) #  retriving a range value based on backward index location

(23, 25, 45, 80, 82, 87)

In [8]:
print(numbers.count(45))

3

In [9]:
print(numbers.index(100))

13

In [10]:
print(86 in numbers)

False

In [11]:
print(numbers[::-1])

(100, 45, 42, 47, 87, 82, 80, 45, 25, 23, 90, 96, 85, 45)

## list 
## list IS UNCHANGEABLE
## list MUST ORDERED
## TO ACCESS A VALUE IN A list WE USE THE INDEX LOCATION
## list IS DENOTED WITH ()
 ### NOTE:: TUPLE IS NOT LIMITED TO ONE DATA TYPE

In [49]:
fruits = [ 'apple', 'lemon','strawberry','cherry','grape' ]
print(fruits)

TypeError: 'list' object is not callable

In [14]:
fruits.append('pear') (# append will add the new value to the end of the existing list
print(fruits)

['apple', 'lemon', 'strawberry', 'cherry', 'grape', 'pear']

In [17]:
fruits.insert(3,'pawpaw')
# insert will add the new value to the specified location on the existing list 
print(fruits)

['apple', 'lemon', 'strawberry', 'pawpaw', 'pawpaw', 'pawpaw', 'cherry', 'grape', 'pear']

In [18]:
fruits.extend(['Apples','banaba','mango'])# extend will add the new value from another list 
print(fruits)

['apple', 'lemon', 'strawberry', 'pawpaw', 'pawpaw', 'pawpaw', 'cherry', 'grape', 'pear', 'Apples', 'banaba', 'mango']

In [19]:
fruits.remove('pear')# remove will drop the value that is specified
print(fruits)

['apple', 'lemon', 'strawberry', 'pawpaw', 'pawpaw', 'pawpaw', 'cherry', 'grape', 'Apples', 'banaba', 'mango']

In [22]:
fruits.sort() # its arranges it in ascending order alphabetically
print(fruits)

['Apples', 'apple', 'banaba', 'cherry', 'grape', 'lemon', 'mango', 'pawpaw', 'pawpaw', 'pawpaw', 'strawberry']

In [2]:
fruits='mango','orange
print(fruits.reverse())

AttributeError: 'tuple' object has no attribute 'reverse'

In [27]:
items = fruits.copy()
print(items)

['strawberry', 'pawpaw', 'pawpaw', 'pawpaw', 'mango', 'lemon', 'grape', 'cherry', 'banaba', 'apple', 'Apples']

In [29]:
items.clear()
print(items)

[]

In [30]:
del(items)
print(items)

NameError: name 'items' is not defined

### DICTIONARY
### DICTIONARY IS CHANGEABLE
### DICTIONARY CAN BE ORDERED OR UNORDERED
### TO ACCESS A VALUE IN A DICTIONARY WE USE THE KEY
## DICTIONARY IS NOT LIMITED TO ONE DATA TYPE

In [31]:
records = {
    'Name': 'Adebisi Balogun',
    'Gender': 'Male',
    'Age': 45,
    'Height': 1.82,
    'Weight': 75
}

In [32]:
print(records['Age'])

45

In [33]:
print(records.keys())

dict_keys(['Name', 'Gender', 'Age', 'Height', 'Weight'])

In [34]:
print(records.values())

dict_values(['Adebisi Balogun', 'Male', 45, 1.82, 75])

In [35]:
print(records.items())

dict_items([('Name', 'Adebisi Balogun'), ('Gender', 'Male'), ('Age', 45), ('Height', 1.82), ('Weight', 75)])

In [36]:
r = {'Height':1.90}
records.update(r)
print(records)

{'Name': 'Adebisi Balogun', 'Gender': 'Male', 'Age': 45, 'Height': 1.9, 'Weight': 75}

In [37]:
records['Complexion']= 'Dark'
print(records)

{'Name': 'Adebisi Balogun', 'Gender': 'Male', 'Age': 45, 'Height': 1.9, 'Weight': 75, 'Complexion': 'Dark'}

In [38]:
records.pop('Age')
print(records)

{'Name': 'Adebisi Balogun', 'Gender': 'Male', 'Height': 1.9, 'Weight': 75, 'Complexion': 'Dark'}

In [40]:
records.popitem()
print(records)

{'Name': 'Adebisi Balogun', 'Gender': 'Male', 'Height': 1.9, 'Weight': 75}

In [42]:
details = {
    'Name':{'Name1':'jane','Name2':'Ade','Name3':'Mary','Name4':'hope','Name5':'Favor'},
    'Age': [12,12,14,10,13],
    'Gender':['Female','Male','Female,''Female', 'Male']
}
print(details['Name']['Name3']) # make sure you nuse the dictionary with specific brackets

Mary

In [5]:
details ={
    'Name':['jane','ade','mary','hope','favor'],
    'Age':[12,12,14,10,13],
    'Gender': ['female','male','female']
}
print(details['Name'][2]) # a dictionary with a key having mutiple value using dictionary with sub key

mary

### exercise

##How can you use a dictionary to store and access information about a customers orders, including the order number,date,
##and items purchased? 5 records

In [3]:
purchased ={
    'customerorder':['bags','shoe','bracklet','hairbrush','gamepad'],
    'ordernumber':['70','20','30','25','70'],
    'Date':['21 of may','25 of june','31st of august','1st of july','2nd of april']
}
print(purchased.values())

dict_values([['bags', 'shoe', 'bracklet', 'hairbrush', 'gamepad'], ['70', '20', '30', '25', '70'], ['21 of may', '25 of june', '31st of august', '1st of july', '2nd of april']])

In [4]:
print(purchased.popitem())

('Date', ['21 of may', '25 of june', '31st of august', '1st of july', '2nd of april'])

In [9]:
print(purchased['customerorder'][2])

bracklet

KeyError: 'date'

In [13]:
import math