In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error,r2_score
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [49]:
df=pd.read_csv('mobile_prices_2023.csv')
df.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,"₹7,749",2023-06-17
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17

In [50]:
df.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

In [51]:
mobile.shape

(1836, 11)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), object(10)
memory usage: 157.9+ KB

In [52]:
cart =df.select_dtypes(include=['category', 'object'])
for x in cart:
    df[x].fillna(method='backfill', inplace=True)

In [30]:
df.columns

Index(['Phone Name', 'Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage',
       'Back/Rare Camera', 'Front Camera', 'Battery', 'Processor',
       'Price in INR', 'Date of Scraping'],
      dtype='object')

In [48]:
df['Number of Ratings'] = df['Number of Ratings'].str.replace(',','')
df['price in INR']= df['Price in INR'].str.replace(',','')
df['Price in INR']= df['price in INR'].str.replace('₹','')

In [36]:
df.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping,price in INR
0,"POCO C50 (Royal Blue, 32 GB)",4.2,33561,2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...",5649,2023-06-17,₹5649
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,77128,4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,11999,2023-06-17,₹11999
2,"POCO C51 (Royal Blue, 64 GB)",4.3,15175,4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,6999,2023-06-17,₹6999
3,"POCO C55 (Cool Blue, 64 GB)",4.2,22621,4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,7749,2023-06-17,₹7749
4,"POCO C51 (Power Black, 64 GB)",4.3,15175,4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,6999,2023-06-17,₹6999

In [38]:
num = ['Number of Ratings','Price in INR']
for x in num:
    df[x] = pd.to_numeric(df[x])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   int64
 3   RAM                1836 non-null   object
 4   ROM/Storage        1836 non-null   object
 5   Back/Rare Camera   1836 non-null   object
 6   Front Camera       1836 non-null   object
 7   Battery            1836 non-null   object
 8   Processor          1836 non-null   object
 9   Price in INR       1836 non-null   int64
 10  Date of Scraping   1836 non-null   object
 11  price in INR       1836 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 172.2+ KB

In [55]:
df.drop('Date of Scraping',axis=1, inplace=True)

In [56]:
enc = LabelEncoder()
cart =df.select_dtypes(include=['category', 'object'])
for x in cart:
    df[x] = enc.fit_transform(df[x])
df.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
0,746,4.2,427,16,14,171,26,78,187,395
1,789,4.2,642,25,20,118,32,78,173,88
2,748,4.3,186,25,20,172,26,78,106,433
3,750,4.2,309,25,20,137,26,78,193,455
4,747,4.3,186,25,20,172,26,78,106,433

In [61]:
x= df.drop('Price in INR',axis = 1)
y= df['Price in INR']
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2, random_state=1)

In [63]:
model = LinearRegression()
model.fit(xtrain,ytrain)
pred = model.predict(xtest)
print(mean_absolute_error(ytest,pred))
print(mean_absolute_percentage_error(ytest,pred))
print(mean_squared_error(ytest,pred))
print(r2_score(ytest,pred))

125.13447005893966
3.5339481730241498
21889.57074003934
0.051103294283149525

In [64]:
model = Lasso()
model.fit(xtrain,ytrain)
pred = model.predict(xtest)
print(mean_absolute_error(ytest,pred))
print(mean_absolute_percentage_error(ytest,pred))
print(mean_squared_error(ytest,pred))
print(r2_score(ytest,pred))

125.14764554551655
3.5438068069037523
21903.50542085822
0.05049923617340957

In [68]:
model = DecisionTreeRegressor()
model.fit(xtrain,ytrain)
pred = model.predict(xtest)
print(mean_absolute_error(ytest,pred))
print(mean_absolute_percentage_error(ytest,pred))
print(mean_squared_error(ytest,pred))
print(r2_score(ytest,pred))

40.52355072463769
0.2995684245177643
10112.606393417875
0.5616259904369356

In [69]:
model = ExtraTreesRegressor()
model.fit(xtrain,ytrain)
pred = model.predict(xtest)
print(mean_absolute_error(ytest,pred))
print(mean_absolute_percentage_error(ytest,pred))
print(mean_squared_error(ytest,pred))
print(r2_score(ytest,pred))

34.87301403985507
0.3589699426496341
6553.662771537213
0.7159035648462584

In [72]:
model =SVR(kernel='linear')
model.fit(xtrain,ytrain)
pred = model.predict(xtest)
print(mean_absolute_error(ytest,pred))
print(mean_absolute_percentage_error(ytest,pred))
print(mean_squared_error(ytest,pred))
print(r2_score(ytest,pred))

124.61560013619348
3.5373835247761924
22836.74993873329
0.010043776395015858